<!DOCTYPE html>
<html>

<head>
  <title> Profile </title>
  <link rel='stylesheet' href='/stylesheets/index.css' />

  </style>
</head>


<body>
  <div id="theDiv">
    <h1>Hello, I'm <%= name %>.</h1>
    <p><b>I'm a <%= position %></b></p>
    <a href="/users">Find Out More ></a>
  </div>
</body>

</html>